* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

.container {
  width: 965px;
  margin: auto;
}
header{
  height: 200px;
  background-color: black;
  width: 100%;
  color: white;
  border-bottom: 5px solid yellow;
}
h1 {
   padding: 40px;
   font-size: 30px;
   color: yellow;
}

nav {
  float: right;
}
li {
  display: inline;
  padding: 10px;
  font-family: 'Yanone Kaffeesatz', Helvetica, Arial;
  font-size: 26px;
}
.subheader {
  height: 100px;
  background-color: #BBB8B8;
}
h5 {
  text-align: center;
  font-size: 36px;
  padding-top: 30px;
  font-style: italic;
  font-weight: bolder;
}
.photobody {
  height: 700px;
  background: url(../images/coworking.jpg) no-repeat center center rgb(134,141,157);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
h2 {
  font-weight: bold;
  font-size: 26px;
  padding: 0 0 20px;
}
.textbox {
  float: right;
  width: 400px;
  height: 500px;
  background-color: rgba(255,255,255,0.7);
  font-size: 22px;
  line-height: 30px;
  padding: 40px;
}
.textbox button {
  background-color: yellow;
  padding: 10px;
  font-size: 28px;
  width: 250px;
  float: center;
  border-radius: 8px;
  font-weight: bold;
  font-family: 'Yanone Kaffeesatz', Helvetica, Arial;
}
h6 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 15px;
}
p {
  font-family: arial;
  font-size: 24px;
  line-height: 26px;
}
.bottomnav {
  width: 300px;
  height: 300px;
  margin: 10px;
  float: left;
  padding: 30px;
}
.mid {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
.bottomnav button {
  width: 250px;
  float: center;
  margin: auto;
  background-color: #BBB8B8;
  font-weight: bold;
  font-size: 30px;
  padding: 10px;
  border-radius: 8px;
  margin-top: 5px;
  font-family: 'Yanone Kaffeesatz', Helvetica, Arial;
}
footer {
  height: 100px;
  background-color: black;
  width: 100%;
  clear:left;
  color: white;
  padding: 30px;
}
footer p {
  padding-left: 30px;
}